<h1>Anime <small>One Piece</small></h1>
<div class="row row-cols-1 row-cols-md-3 g-4">

    <!-- usamos el index del arreglo para pasarlo como id a heroe -->
    <!-- Le mandamos la variable por medio de [heroe] = 'h' -->
    <!-- Donde [heroe] es la propiedad que recibe en heroescardComponent -->
    <!-- y 'h' es la variable que mandamos desde el for -->

    <!-- escuchamos al app heroes card por medio de la variable output -->
    <!-- y le decimos que tiene que hacer al accionarlo -->
    <!-- le decimos que lo que estamos tryendo desde alla es $event donde se almacena lo que queremos mandar en el -->
    <app-heroes-card (heroeSeleccionado)='verMas($event)' [h]="h" [i]='i' *ngFor="let h of heroes; let i = index"></app-heroes-card>
</div>