<!-- los pipes solo cambian la informacion de forma visual
    para mandar parametros con pipes ver date:'y' -->
<h1>{{ heroe.nombre | uppercase }} <small> ({{ heroe.aparicion | date:'y' }}) </small> </h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>

        <a [routerLink]="['/lista']" class="btn btn-outline-danger">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>

        <p>{{ heroe.bio }}</p>

        <div>
            <!-- si es dc que se vea la img dc, si es marvel igual -->
            <img [src]="heroe.casa" alt="" width="100">
        </div>

    </div>

</div>